/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: #4db6ac;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

.expand-info {
  width: 180px;
}

.avatar-area{
  padding-left: 60px!important;
  padding-top: 30px!important;
  padding-bottom: 10px!important;
}

.gallery > li {
  padding-right: 2px;
  float: left;
}

.overflow{
  overflow-y: auto;
}

.activities {
  max-height: 300px;
}

.tag{
  background-color: #4db6ac;
  color: #fff;
}



.book-item{
  margin-top: 20px;
  width: 268px;
  height: 408px;
}

.book:before{
  background-image: url("../images/page-overlay-big.png");
  background-repeat: no-repeat;
  content: "";
  height: 411px;
  position: absolute;
  width: 271px;
}

.book img{
  border-top-left-radius: 16px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 6px;
  vertical-align: middle;
}

.rating .material-icons{
  cursor: pointer;
}

.select-wrapper input {
  color: #009688;
}

.state {
  padding-bottom: 4px;
}

.list-comment .collection-item{
  border-bottom: 1px solid #F7F7F7;
}

.list-comment{
  overflow: visible;
}

#modal-icon img{
  -webkit-transition: all 0.2s ease; /* Safari and Chrome */
  -moz-transition: all 0.2s ease; /* Firefox */
  -ms-transition: all 0.2s ease; /* IE 9 */
  -o-transition: all 0.2s ease; /* Opera */
  transition: all 0.2s ease;
}

#modal-icon img:hover{
  -webkit-transform:scale(1.25); /* Safari and Chrome */
  -moz-transform:scale(1.25); /* Firefox */
  -ms-transform:scale(1.25); /* IE 9 */
  -o-transform:scale(1.25); /* Opera */
   transform:scale(1.25);
};

.bg-fr{
  background-image: url("../images/framgia2.jpg");
  background-repeat: no-repeat;
}

.bg-fr{
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("../images/framgia2.jpg");
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("../images/framgia2.jpg");
  background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("../images/framgia2.jpg");
  background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("../images/framgia2.jpg");
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.1)), to(rgba(0, 0, 0, 0.1))), url("../images/framgia2.jpg");
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("../images/framgia2.jpg");
}

#email-list {
    padding: 0;
}
#email-list .collection {
    margin: 0;
}
#email-list .collection .collection-item.avatar {
    height: auto;
    padding-left: 72px;
    position: relative;
}
#email-list .collection .collection-item:hover {
    background: none repeat scroll 0 0 #e1f5fe;
    cursor: pointer;
}
#email-list .collection .collection-item.selected {
    background: none repeat scroll 0 0 #e1f5fe;
    border-left: 4px solid #29b6f6;
}
#email-list .collection .collection-item.avatar .secondary-content {
    position: absolute;
    right: -4px;
    top: 10px;
}
#email-list .collection .collection-item.avatar .secondary-content.email-time {
    right: 8px;
}
#email-list .collection .collection-item.avatar .icon {
    display: inline-block;
    height: 42px;
    left: 15px;
    overflow: hidden;
    position: absolute;
    text-align: center;
    top: 20px;
    vertical-align: middle;
    width: 42px;
}
#email-list .collection .collection-item.avatar .circle {
    color: #fff;
    display: inline-block;
    font-size: 1.5rem;
    font-weight: 300;
    height: 42px;
    left: 15px;
    overflow: hidden;
    padding: 10px;
    position: absolute;
    text-align: center;
    vertical-align: middle;
    width: 42px;
}
#email-list .collection .collection-item.avatar img.circle {
    padding: 0;
}
#email-list .attach-file {
    color: #9e9e9e;
    font-size: 1.1rem;
    transform: rotate(90deg);
}

#profile-page-header .card-image {
    height: 250px;
}
#profile-page-header .card-profile-image {
    cursor: pointer;
    left: 40px;
    margin: 0;
    position: absolute;
    top: 190px;
    width: 110px;
    z-index: 1;
}
#profile-page-header .card-content {
    margin-top: -40px;
}
#profile-page-header .card-content .card-title {
    margin-bottom: 0;
}
#profile-page-wall .profile-image-post {
    margin: 30px 10px;
    width: 60px;
}
#profile-page-wall .tab-profile .tab i {
    font-size: 16px;
}
#profile-page-wall .tab-content {
    padding: 10px;
}
#profile-page-wall .share-icons {
    margin-top: 10px;
}
#profile-page-wall .share-icons i {
    padding: 0 5px;
}
#profile-page-wall-posts .profile-small {
    height: 250px;
    overflow: hidden;
}
#profile-page-wall-posts .profile-medium {
    height: 350px;
    overflow: hidden;
}
#profile-page-wall-posts .profile-large {
    height: 450px;
    overflow: hidden;
}
#profile-page-wall-posts .card-profile-title {
    border-radius: 0 0 2px 2px;
    font-size: 16px;
    padding: 20px;
}
#profile-page-wall-posts .card-action-share {
    padding: 16px;
}